data/1.ATAC-Seq data.csv
data/2.RNA-Seq data.csv
data/ATAC_QCmatric.csv
data/ATAC_QCmatric_ReadStatistics.csv
data/Transcript, Coding, and Exon Start and End Positions.csv
data/ATAC_Bcells.csv
data/RNA_Bcells.csv
data/ATAC_QC_Bcells.csv
data/ATAC_QC_RS_Bcells.csv
data/ATAC_T_Bcells.csv
data/RNA_T_Bcells.csv
data/ATAC_scaled.ct.csv
data/ATAC_stat_high_signal_peaks.csv
data/ATAC_regiontype.csv
data/ATAC_stat_high_signal_peaks_scaled.csv
data/ATAC_with_TSS.csv
data/converted_ATAC_seq_info.csv
data/ImmGenATAC18_AllOCRsInfo.csv
data/mmc2.csv
data/converted_ATAC_seq_info.CSV