data/1.ATAC-Seq data.csv
data/2.RNA-Seq data.csv
data/ATAC_QCmatric.csv
data/ATAC_QCmatric_ReadStatistics.csv
data/Transcript, Coding, and Exon Start and End Positions.csv
data/ATAC_Bcells.csv
data/RNA_Bcells.csv
data/ATAC_QC_Bcells.csv
data/ATAC_QC_RS_Bcells.csv
